<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to the Student Game</title>          
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">    
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h2>The Student Game</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form action="/users/register" method="post">
                <% if (locals.message) { %>
                    <div class="bs-callout bs-callout-danger">
                        <h4><%= locals.message %><h4>
                    </div>
                <% } %>
                <div class="form-group<%= locals.user_error ? ' has-error' : '' %>">
                    <label class="control-label" for="username">Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Username">
                </div>
                <div class="form-group<%= locals.password_error ? ' has-error' : '' %>">
                    <label class="control-label" for="password1">Password</label>
                    <input type="password" class="form-control" name="password1" placeholder="Password">
                </div>
                <div class="form-group<%= locals.password_error ? ' has-error' : '' %>">
                    <label class="control-label" for="password2">Reenter password</label>
                    <input type="password" class="form-control" name="password2" placeholder="Reenter Password">
                </div>
                <div class="form-group">
                    <label class="control-label">Gender</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="gender" value="male" checked>
                            Male
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="gender" value="female">
                            female
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Register</button>
                    <a href="/login" class="btn btn-default">Login</a>
                </div>
            </form>
            <% if (locals.error) { %>
                <div class="bs-callout bs-callout-danger">
                    <h4>Error message</h4>
                    <p><%= error %></p>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>