

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.tab-pane button{
	width:80%;
	margin-bottom: 6px;
}
.panel {
	margin-bottom:15px;
}


.panel-heading button{
	width:100%;
}

.panel-body button{
	width:100%;
}


h5{
	text-align: center;
}



		
		
.panel {
	width:80%;
	margin-bottom: 6px;
}

.giftdropdown{
	min-width:220px;
	padding-right:15px;
	padding-left:15px;
	padding-top:15px;
	padding-bottom:15px;
}


#console{
	position:relative;
	min-height:200px;
}
#console::after{
	content:'';
	position:absolute;
	bottom:0px;
	width:100%;
	height:40%;
	background: rgba(255,255,255,0);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );

}
.tooltip-button{
	position:relative;
}

.tooltip-button > span.tooltip{
  display:none;
  position:absolute;
  word-wrap:break-word;
  white-space:normal;
  bottom:0px;
  color:white;
  z-index: 999;
  opacity:0;
  left:100%;
  width:300px;
  margin-bottom:-5px;
  margin-left:30px;
  padding: 10px;
  border: 2px solid #1C6C8C;
  background-color: rgb(51, 122, 183);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
 /* text-shadow: 0 1px 0 rgba(255,255,255,.4);*/
}

.tooltip-button:hover > span.tooltip{
  animation-duration: .3s;
  animation-name: tooltip-animation;
  display:block;
  opacity:1;
  margin-left:10px;
}

@keyframes tooltip-animation{
  0% {display:none; opacity:0; margin-left:30px;}
  1% {display:block; opacity:0; margin-left:30px;}
  100% {display:block; opacity:1; margin-left:10px;}
}

div.progress{
	margin-bottom:0px;
	
}

div.progress-bar{
	color:black;
}



div.status{
	text-align:center;
	margin-bottom:5px;
}

/* for call outs */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}