<!DOCTYPE html>
<html ng-app="studentGame">
	<head>		
		 <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">	
		<link rel="stylesheet" href="/stylesheets/style.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"> </script>			
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>  
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"> </script>			
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>			
		<script src="javascripts/coreController.js"></script>					
		<script>
			$(document).ready(function(){
				$('[data-toggle="tooltip"]').tooltip();   
			});
		</script>
		<title>CS 360 Final Project - The Student Game</title>
	</head>	
	
	<body  ng-controller="coreController"> 		
		<div class="container" >
			<div class="row">
				<div class="col-md-11">
					<h2>The Student Game</h2>					
				</div>
				<div class="col-md-1">
						<a href="/login" class="btn btn-primary">Logout</a>
				</div>
			</div>	
			<br>
			<div id="test">
					<h4> Output: </h4>
					
				</div>			
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#selfTab">Self</a></li>
				<li ng-show="classTabUnlocked"><a data-toggle="tab" href="#classTab">Classes</a></li>  
				<li ng-show="jobsTabUnlocked"><a data-toggle="tab" href="#jobTab">Jobs</a></li>      
			</ul>	
			<br>			
			<div class="row">
				<div class="col-md-4">
					<h4>Name: {{getPlayerName()}}
					<h4>Body Type: {{getPlayerBodyLevel()}}
					<h4 >Penny: {{getPennyCount()}} ({{getPennyRate()}}/sec)</h4>
					<h4 ng-show="pencilUnlocked">Pencil: {{getPencilCount()}} </h4>
					<h4 ng-show="bookUnlocked">Book: {{getBookCount()}} </h4>
					<h4 ng-show="knowledgeUnlocked"> Knowledge: {{getKnowledgeCount()}} ({{getKnowledgeRate()}}/sec) </h4>						
				</div>
				<div class="col-md-4">
					<div class="tab-content">
						<div id="selfTab" class="tab-pane fade in active">						
							<div ng-repeat="entry in selfButtonList"> 					
								<button class="btn tooltip-button" ng-class="entry.colorCondition()" ng-show="entry.unlocked()" ng-click="entry.clickCondition()">{{entry.buttonText}} <span class="badge" >{{entry.getCostFunction()}}{{entry.getCostCurrency}}</span> <span class="tooltip"> {{entry.toolTip}}</span></button> 
							</div>								
						</div>
						<div id="classTab" class="tab-pane fade">
							<div ng-repeat="entry in classButtonList"> 						
								<div class="panel panel-primary" ng-show="entry.unlocked()">
									<div class="panel-heading">
										<h5> {{entry.className}} <span class="badge">{{entry.classCount()}}</span> </h5>
									</div>
									<div class="panel-body">
										<div ng-repeat="bodyEntry in entry.body"> 
											<button class="btn tooltip-button" ng-class="bodyEntry.colorCondition()" ng-show="true" ng-click="bodyEntry.clickCondition()">{{bodyEntry.buttonText}} <span class="badge" >{{bodyEntry.getCostFunction()}}{{bodyEntry.getCostCurrency}}</span> <span class="tooltip"> {{bodyEntry.toolTip}}</span></button>
										</div>										
									</div>
							    </div>
						  </div> 							
						</div>	
						<div id="jobTab" class="tab-pane fade">										
							 <div class="panel panel-primary">
								<div class="panel-heading">
										<button  class="btn" ng-class="getKnowledgeCount()>3 ? 'btn-primary': 'btn-default'" ng-click="jobBurgerFlipper()" data-toggle="tooltip" data-placement="left" title="Cost to apply: 3 knowledge">Apply at McDonalds <span class="badge">{{isMcdonaldsUnlocked()}}</span></button> 
								</div>
								<div class="panel-body">
									<button  class="btn" ng-class="getKnowledgeCount()>3 ? 'btn-primary': 'btn-default'" ng-click="jobBurgerFlipper()" data-toggle="tooltip" data-placement="left" title="{{jobBurgerFlipperTooltip}}">Burger Flipper</button> 
								
			
							  </div>	
							  </div>	
						</div>  
						</div>
				</div>
				<div id="console" class="col-md-4">
					<h4> Output: </h4>
					<div ng-repeat="entry in gameOutputConsoleList | orderBy: '-number' | limitTo:15"> 		
						{{entry.timestamp}}: {{entry.content}}
						<br><br>
					</div>
				</div>
		    </div>
		
		</div>
		 
		

	</body>
</html>

