<!DOCTYPE html>
<html lang="en" ng-app="studentGame">
	<head>
		<meta charset="utf-8">	
		 <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">	
		<link rel="stylesheet" href="/stylesheets/style.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"> </script>			
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>  	
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"> </script>
					
		<script src="javascripts/coreController.js"></script>					
		
		<title>CS 360 Final Project - The Student Game</title>
	</head>	
	
	<body  ng-controller="coreController"> 		
		<div class="container" >                                 
			<div class="row">
				<div class="col-md-9">
					<h2>The Student Game</h2>		
				</div>	
				<div class="col-md-3">
					<div class="btn-group" role="group" aria-label="...">
						<button type="button" class="btn btn-primary" ng-click="saveUserState()">Save Game</button>
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">					  
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#" ng-click="loadUserState()">Load</a></li>
								<li><a id="confirmReset" href="www.google.com">Reset</a></li>
								<li><a href="#" ng-click="giveFreePenny()">Debug</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="/login">Logout</a></li>					 
							</ul>
						</div>
					</div>					
				</div>	
			</div>	
			<br>				
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#selfTab">Self</a></li>
				<li ng-show="getClassTabUnlocked()"><a data-toggle="tab" href="#sideJobTab">Side Jobs</a></li>  
				<li ng-show="getClassTabUnlocked()"><a data-toggle="tab" href="#classTab">Classes</a></li>  
				<li ng-show="getJobsTabUnlocked()"><a data-toggle="tab" href="#jobTab">Employment</a></li>
				<li ng-show="getJobsTabUnlocked()"><a data-toggle="tab" href="#relationshipTab">Relationships</a></li>  
			</ul>	
			<br>			
			<div class="row">
				<div class="col-md-4">
					<h4> Name: {{getPlayerName()}}</h4>
					<h4> Date: {{getDate()}}</h4>					
					 <div class="progress" style="width:75%" ng-show="true">
						<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{getPlayerEnergy()}}" aria-valuemin="0" aria-valuemax="100" style="width:{{getPlayerEnergy()}}%">
							Energy:{{getPlayerEnergy()}}%
						</div>
					</div>	
						
					<div ng-repeat="entry in selfCurrencyList">
						<h4 ng-show="entry.unlocked()">{{entry.title}}<span ng-show="entry.showCount">: {{entry.count()}} </span> <span ng-show="entry.showRate"> ({{entry.rate()}}/sec) </span> </h4>
					</div>										
				</div>
				<div class="col-md-4">
					<div class="tab-content">
						<div id="selfTab" class="tab-pane fade in active">						
							<div ng-repeat="entry in selfButtonList"> 					
								<button class="btn tooltip-button" ng-class="entry.colorCondition()" ng-show="entry.unlocked()" ng-click="entry.clickCondition()">{{entry.buttonText}} <span class="badge" >{{entry.getCostFunction()}}{{entry.getCostCurrency}}</span> <span class="tooltip"> {{entry.toolTip}}</span></button> 
							</div>								
						</div>
						<div id="sideJobTab" class="tab-pane fade">						
							<div ng-repeat="entry in sideJobsList"> 	
								<button class="btn tooltip-button" ng-class="entry.colorCondition()" ng-click="entry.clickCondition()">{{entry.buttonText}} <span class="badge" >{{entry.getCostFunction()}}{{entry.getCostCurrency}}</span> <span class="tooltip"> {{entry.toolTip()}}</span></button>
							</div>
						</div>
						<div id="classTab" class="tab-pane fade">
							<div ng-repeat="entry in classButtonList"> 						
								<div class="panel panel-primary" ng-show="entry.unlocked()">
									<div class="panel-heading">
										<h5> {{entry.className}} <span class="badge">{{entry.classCount()}}</span> </h5>
									</div>
									<div class="panel-body">
										<div ng-repeat="bodyEntry in entry.body"> 
											<button class="btn tooltip-button" ng-class="bodyEntry.colorCondition()" ng-show="true" ng-click="bodyEntry.clickCondition()">{{bodyEntry.buttonText}} <span class="badge" >{{bodyEntry.getCostFunction()}}{{bodyEntry.getCostCurrency}}</span> <span class="tooltip"> {{bodyEntry.toolTip}}</span></button>
										</div>										
									</div>
							    </div>
								<br>
						  </div> 							
						</div>	
						<div id="jobTab" class="tab-pane fade">	
							<div ng-repeat="entry in jobButtonList"> 						
								<div class="panel panel-primary" ng-show="entry.unlocked()">
									<div class="panel-heading">
										<button class="btn tooltip-button" ng-class="entry.colorCondition()" ng-show="true" ng-click="entry.clickCondition()">{{entry.buttonText}} <span class="badge" >{{entry.hired()}}</span> <span class="tooltip"> {{entry.toolTip}}</span></button> 
										
										  <div class="progress" ng-show="entry.jobListUnlocked()">
											<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{entry.progress()}}" aria-valuemin="0" aria-valuemax="100" style="width:{{entry.progress()}}%">
											XP: {{entry.progress()}}%
											</div>
										</div>	
									</div>
									<div class="panel-body" ng-show="entry.jobListUnlocked()">
										<div ng-repeat="bodyEntry in entry.body"> 
											<button class="btn tooltip-button" ng-class="bodyEntry.colorCondition()" ng-show="bodyEntry.unlocked()" ng-click="bodyEntry.clickCondition()">{{bodyEntry.jobName}}<span class="badge" >{{bodyEntry.reward}}</span> <span class="tooltip"> {{bodyEntry.toolTip}}</span> </button>
										</div>																					
									</div>
							    </div>
								<br>
							</div> 							
						</div> 
						<div id="relationshipTab" class="tab-pane fade">
							<div ng-repeat="entry in relationshipList"> 						
								<div class="panel panel-primary" ng-show="entry.unlocked()">
									<div class="panel-heading">
										<button class="btn btn-primary" ng-click="entry.clickCondition()"> {{entry.buttonText()}}</button> 
										
										
									</div>
									<div class="panel-body">
									<h4> fgf </h4>
									</div>
								
							    </div>
								<br>
							</div>
						</div>
					</div>
				</div>
				<div id="console" class="col-md-4">
					<h4> Output: </h4>
					<div ng-repeat="entry in gameOutputConsoleList | orderBy: '-number' | limitTo:15"> 		
						{{entry.timestamp}}: {{entry.content}}
						<br><br>
					</div>
				</div>
		    </div>
		
		</div>
		 
	<script>	
		$(document).ready(function(){
		$('#confirmReset').click(function(){return confirm("Are you sure you want to reset your game data?");})
}) </script>

	</body>
</html>
